<!DOCTYPE web-app PUBLIC
"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
		<servlet-name>GetVideoFromDb</servlet-name>
		<display-name>GetVideoFromDb</display-name>
		<description></description>
		<servlet-class>com.servlet.GetVideoFromDb</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UploadVideoToDb</servlet-name>
		<display-name>UploadVideoToDb</display-name>
		<description></description>
		<servlet-class>com.servlet.UploadVideoToDb</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmptyRiak</servlet-name>
		<display-name>EmptyRiak</display-name>
		<description></description>
		<servlet-class>com.servlet.EmptyRiak</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetVideoFromDb</servlet-name>
		<url-pattern>/getVideo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadVideoToDb</servlet-name>
		<url-pattern>/uploadVideo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmptyRiak</servlet-name>
		<url-pattern>/emptyRiak</url-pattern>
	</servlet-mapping>

</web-app>